absl-py==1.4.0
ailment==9.2.91
aiohttp==3.8.3
aiosignal==1.3.1
altair==5.3.0
angr==9.2.91
antlr4-python3-runtime==4.13.1
appdirs==1.4.4
archinfo==9.2.91
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
Babel==2.8.0
backcall==0.2.0
backports.strenum==1.3.1
beniget==0.4.1
bitarray==2.9.2
bitstring==4.1.4
black==23.3.0
blinker==1.4
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.2
cachetools==5.3.0
capstone==5.0.0.post1
certifi==2024.2.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.1.1
chrome-gnome-shell==0.0.0
claripy==9.2.91
cle==9.2.91
click==8.1.7
clingo==5.7.1
cmdstanpy==1.2.2
colorama==0.4.4
comm==0.2.1
command-not-found==0.3
configobj==5.0.6
contourpy==1.0.6
convertdate==2.4.0
coverage==7.2.7
CppHeaderParser==2.7.4
cryptography==3.4.8
crytic-compile==0.2.2
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
cytoolz==0.12.3
dbus-python==1.2.18
debugpy==1.8.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.3.0
docutils==0.17.1
dpkt==1.9.8
duplicity==0.8.21
ephem==4.1.5
eth-hash==0.6.0
eth-typing==4.0.0
eth-utils==4.0.0
exceptiongroup==1.1.1
fake-useragent==1.5.0
fasteners==0.14.1
filelock==3.13.1
Flask==2.0.1
flatbuffers==23.5.9
fonttools==4.38.0
frozenlist==1.3.3
fs==2.4.12
fsspec==2024.3.1
future==0.18.2
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.54.2
gvm-tools==21.1.0
gyp==0.1
h11==0.14.0
h5py==3.8.0
hijri-converter==2.3.1
holidays==0.24
html5lib==1.1
httplib2==0.20.2
idna==3.3
imageio==2.34.1
imbalanced-learn==0.12.0
imblearn==0.0
impacket==0.9.24
importlib-metadata==4.6.4
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.29.3
ipython==7.31.1
itanium-demangler==1.1
itsdangerous==2.1.0
jax==0.4.10
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.2.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kazam==1.4.5
keras==2.12.0
keyring==23.5.0
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
language-selector==0.1
lark==1.1.9
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
ldap3==2.8.1
ldapdomaindump==0.9.3
libclang==16.0.0
lime==0.2.0.1
livereload==2.6.3
lockfile==0.12.2
louis==3.20.0
LunarCalendar==0.0.9
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
manticore==0.3.7
Markdown==3.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.1
matplotlib-inline==0.1.3
mdurl==0.1.2
MechanicalSoup==1.3.0
mkdocs==1.1.2
ml-dtypes==0.1.0
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
mulpyplexer==0.9
multidict==6.0.4
mypy-extensions==1.0.0
nampa==0.1.1
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==2.8.7
nltk==3.8.1
ntscraper==0.3.12
numpy==1.23.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
openai==0.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
ortools==9.6.2534
ospd==21.4.4
ospd-openvas==21.4.3
outcome==1.3.0.post0
packaging==23.1
pandas==1.5.3
paramiko==2.9.3
parse==1.20.1
parso==0.8.1
pathspec==0.11.1
pddl==0.4.0
pddlpy==0.4.4
pefile==2023.2.7
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.5.1
playwright==1.30.0
plotly==5.22.0
pluggy==1.0.0
plumbum==1.8.2
ply==3.11
prettytable==3.10.0
prompt-toolkit==3.0.28
prophet==1.1.2
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pyagrum==1.9.0
pyarrow==16.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydeck==0.9.1
pydot==1.4.2
pyee==11.1.0
pyelftools==0.30
pyevmasm==0.2.3
pyformlang==1.0.7
pygame==2.1.2
Pygments==2.14.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyMeeus==0.5.12
pymongo==4.3.3
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyppeteer==2.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyquery==2.0.0
pyreadline3==3.4.1
pyRFC3339==1.1
pysha3==1.0.2
PySMT==0.9.5
PySocks==1.7.1
pytest==7.3.1
pytest-cov==4.1.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-gvm==21.10.0
pythran==0.10.0
pytz==2022.1
pyvex==9.2.91
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.2
redis==3.5.3
referencing==0.35.1
regex==2023.12.25
reportlab==3.6.8
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==13.3.1
rlp==4.0.0
roman==3.3
rpds-py==0.18.1
rpyc==6.0.0
rsa==4.9
scikit-image==0.23.2
scikit-learn==1.1.3
scipy==1.10.1
SecretStorage==3.3.1
selenium==4.17.2
simplejson==3.17.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snscrape==0.7.0.20230622
sortedcontainers==2.4.0
soupsieve==2.3.1
stanio==0.5.0
streamlit==1.34.0
sympy==1.9
systemd-python==234
tabulate==0.8.10
tenacity==8.3.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminaltables==3.1.0
terminator==2.1.1
threadpoolctl==3.1.0
tifffile==2024.5.10
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.0+cpu
torchaudio==2.3.0+cpu
torchvision==0.18.0+cpu
tornado==6.4
tqdm==4.64.1
traitlets==5.14.1
trio==0.24.0
trio-websocket==0.11.1
triton==2.2.0
tsplib95==0.7.1
twitter-scraper==0.4.4
typing_extensions==4.9.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unicorn==2.0.1.post1
unique_log_filter==0.1.0
urllib3==1.26.5
usb-creator==0.3.7
w3lib==2.1.2
wadllib==1.3.6
wasm==1.2
watchdog==4.0.0
wcwidth==0.2.5
webdriver-manager==4.0.1
webencodings==0.5.1
websockets==10.4
Werkzeug==2.3.4
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
yarl==1.8.2
zipp==1.0.0
